<%- include("header.ejs") -%>
    <div style="text-align: center; color: #fc5185; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <h1>This is TO DO List website made by Rucha in 2020. </h1>
    </div>
<%- include("footer.ejs") -%>